<div class="small-3 medium-2 large-1 columns">
  <nav class="icon-bar vertical three-up">
    {{#link-to "leaf.edit" model class="item"}}
      <i class="fa fa-edit"></i>
      <label>Edit</label>
    {{/link-to}}

    <a href="#" class="item" {{action "delete" model}}>
      <i class="fa fa-remove"></i>
      <label>Delete</label>
    </a>

    <a href="#" class="item" {{action "back"}}>
      <i class="fa fa-arrow-circle-left"></i>
      <label>Back</label>
    </a>
  </nav>
</div>

<div class="small-9 medium-10 large-11 columns">
  <article>
    <h1>{{title}}</h1>
    {{parse-markdown body}}
  </article>
</div>
