$hover: rgb(0, 123, 160);

.clickable:hover {
    cursor: pointer;
    color: $hover;
}

.row {
    max-width: 1600px;
}

.fix-height {
    height: 650px;
    overflow: scroll;
}

.tiny.button {
    font-size: 0.75em;
    font-variant: small-caps;
    font-weight: bold;
}

pre {
    background-color: #23241f;
    border-radius: 3px;
    display: block;
    font-size: 85%;
    line-height: 1.45;
    margin-bottom: 1em;
    margin-top: 0;
    overflow: auto;
    padding: 1em;
}

pre code {
    background-color: transparent;
    border: 0;
    color: white;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: initial;
    overflow: initial;
    padding: 0;
    word-wrap: normal;
}

section, article {
    padding: 1em;
}

textarea {
    border-radius: 3px;
    font-family: DejaVuSansMono, monaco, courier, monospace;
    height: 500px;
    overflow: scroll;
    resize: none;
    white-space: nowrap;
    width: 100%;
}