$hover: rgb(0, 123, 160);
$text-default: #444;

.preview {
    max-height: 780px;
    overflow-y: scroll;
}

.clickable:hover {
    cursor: pointer;
    color: $hover;
}

.row {
    max-width: 100em;
}

.tiny.button {
    font-size: 0.75em;
    font-variant: small-caps;
    font-weight: bold;
}

.fa-li {
    top: 0.4em;
}

.no-hover {
    &:hover {
        background: inherit;
    }
}

.fieldset {
    border: solid 1px #d8d8d8;
    padding: 1em;
    width: 100%;
}

.label.med {
    font-size: 0.825em;
}

.block {
    border: solid 1px #d8d8d8;
    padding: 1em;
}

i.large {
    display: block;
    font-size: 2em;
}

pre {
    background-color: #23241f;
    border-radius: 3px;
    display: block;
    font-size: 85%;
    line-height: 1.1375em;
    margin-bottom: 1em;
    margin-top: 0;
    overflow: auto;
    padding: 1em;
}

pre code {
    background-color: transparent;
    border: 0;
    color: white;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: initial;
    overflow: initial;
    padding: 0;
    word-wrap: normal;
}

textarea {
    border-radius: 3px;
    font-family: DejaVuSansMono, monaco, courier, monospace;
    resize: none;
    width: 100%;
}

article {
    padding-bottom: 2em;
    max-width: 60em;
}

h3, h4 {
    text-transform: uppercase;
    font-weight: 900;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.825em;
}

section {
    margin-top: 0.5em;
    padding-bottom: 1em;
}
