.CodeMirror {
    border-collapse: separate;
    border: solid 1px rgb(204, 204, 204);
    color: $text-default;
    font-family: DejaVuSansMono, monaco, courier, monospace;
    font-size: .875em;
    height: 500px;
    line-height: 1.6em;
    max-width: 60em;
}

.CodeMirror-focused {
    box-shadow: 0 0 6px #888;
    border-color: #999999;
}
