<div class="small-3 medium-2 large-1 columns">
  <nav class="icon-bar vertical two-up">
    <a href="#" class="item" {{action "new"}}>
      <i class="fa fa-plus-circle"></i>
      <label>New</label>
    </a>

    {{#link-to "" class="item"}}
      <i class="fa fa-search"></i>
      <label>Find</label>
    {{/link-to}}
  </nav>
</div>

<div class="small-9 medium-10 large-11 columns">
  <section>
    <h1><i class="fa fa-leaf"></i> Leaves</h1>

    <ul>
    {{#each leaf in content}}
      <li>
        {{#link-to "leaf" leaf.id}}
          {{#if leaf.title}}
            {{leaf.title}}
          {{else}}
            No title
          {{/if}}
        {{/link-to}}
      </li>
    {{/each}}
    </ul>
  </section>
</div>
