<div class="small-12 columns">
  {{#each content}}
  <section class="panel">
      <h2><i class="fa fa-tag"></i> {{this.tag}}</h2>

      <ul class="small-block-grid large-block-grid-6">
      {{#each this.leaves}}
        <li class="clickable text-center">
        {{#link-to "leaf" this}}
          <i class="fa fa-leaf large"></i>
          {{#if this.title}}
            {{this.title}}
          {{else}}
            No title
          {{/if}}
        {{/link-to}}
        </li>
      {{/each}}
      </ul>
  </section>
  {{/each}}
</div>
