<div class="row">
  <div class="small-12 columns">
    <nav class="icon-bar four-up">
      {{#link-to "leaves" class="item"}}
        <i class="fa fa-leaf"></i>
        <label>Leaves</label>
      {{/link-to}}

      <a href="#" class="item" {{action "new"}}>
        <i class="fa fa-plus-circle"></i>
        <label>New</label>
      </a>

      {{#link-to "tags" class="item"}}
        <i class="fa fa-tags"></i>
        <label>Tags</label>
      {{/link-to}}

      {{#link-to "" class="item"}}
        <i class="fa fa-search"></i>
        <label>Find</label>
      {{/link-to}}
    </nav>
  </div>
</div>

{{outlet}}
{{ember-notify}}