<div class="row">
  <div class="small-12 columns">
    <nav class="icon-bar two-up">
      {{#link-to "leaves" class="item"}}
        <i class="fa fa-leaf"></i>
        <label>Leaves</label>
      {{/link-to}}

      {{#link-to "tags" class="item"}}
        <i class="fa fa-tags"></i>
        <label>Tags</label>
      {{/link-to}}
    </nav>
  </div>
</div>

{{outlet}}
