<div class="row">
  <div class="small-12 columns">
    <nav class="icon-bar one-up">
      {{#link-to "leaves" class="item"}}
        <i class="fa fa-coffee"></i>
        <label>Leaves</label>
      {{/link-to}}
    </nav>
  </div>
</div>

{{outlet}}
